

.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;

}
.sendForm{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}

.sendForm > input{
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #333;
  margin: 1rem;
}

.sendForm > button{
  margin: 1rem;
  cursor: pointer;
  padding: 0.5rem 1.75rem;
  border-radius: 8px;
  border: #333 0.8px solid;
  background-color: #ff9900;
  color: whitesmoke;
}